@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --body_background: blue;
    --body_backtoggle: white;
    --body_color: white;
    --body_icon: white;
    --body_nav: rgb(25, 22, 217);
    --icon:black;
    --iconb:white;
  }
  
 
  [dark-theme="dark"]{
    --body_backtoggle: #626267;
    --body_background: white;
    --body_color: white;
  
    --body_icon: white;
    --icon:white;
    --iconb:black;
  
  
  }
  body{
    color: white;
    background-color: #17191c;
  }
  :disabled{
    background-color: rgb(134, 133, 133);
    color: white;
    border: none;
   }

 .hover-menu{
  left: 15px;
  top: 63px;
  position: absolute;
  color: white;
  background-color: rgb(79, 77, 77);
  padding: 3px 20px;
  align-items: center;
  text-align: center;
  opacity: 0;
  border-radius: 6px;
  pointer-events: none;
}
.hover-menus{
  right: -30px;
  top: 63px;
  position: absolute;
  color: white;
  background-color: rgb(79, 77, 77);
  padding: 3px 20px;
  align-items: center;
  text-align: center;
  opacity: 0;
  border-radius: 6px;
  pointer-events: none;
}
.hover-menu:hover{
  transition: all 1s ease;
  opacity: 1;
  top: 50%;
  color: white;
  background-color: rgb(79, 77, 77);
}
.icon-hover:hover .hover-menu{
  transition: all 1s ease;
  opacity: 1;
  color: white;
  background-color: rgb(79, 77, 77);
}
.icon-hover:hover .hover-menus{
  transition: all 1s ease;
  opacity: 1;
  color: white;
  background-color: rgb(79, 77, 77);
}
.icon-hover{
  position: relative;
}


.bg-color{
  background-color: rgb(0, 0 , 0, .7);
}
.home{
  position: relative;
}
.home::after{
  content: '';
  position: absolute;
  top: 3rem;
  height: 3.5px;
  width: 100%;
  left: 0px;
  background-color: blue;
}
.menus{
  color: blue;
  font-weight: bolder;
}

.homes{
  color: blue;
  font-weight: bolder;
}
.videos{
  color: blue;
  font-weight: bolder;
}
.markets{
  color: blue;
  font-weight: bolder;
}
.groups{
  color: blue;
  font-weight: bolder;
}
.friends{
  color: blue;
  font-weight: bolder;
}
.messages{
  color: blue;
  font-weight: bolder;
}

.nones{
  color: black;
  background-color: transparent;
}
.scrollb{
  scroll-snap-type: x mandatory;
  overflow-y: scroll;
}
.scrollba{
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
.bg-gray{
  background-color: rgb(0, 0 , 0, .7);
}
.bg-grays{
  background-color: rgb(0, 0 , 0, .2);
}
.rotate{
  rotate: 180deg;
}
.prev,
  .next {
    position: fixed;
    top: 250px;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-flex;
    translate: -50px;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    cursor: pointer;
  }
  .prev:hover,
  .next:hover {
    background: rgb(73, 73, 91);
    border-radius: 20px;
  }
  
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    color: white;
  }
article {
  position: fixed;
  top: 0;
  right: 280px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

main.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
main.lastSlide {
  transform: translateX(-100%);
}
main.nextSlide {
  transform: translateX(100%);
}
